* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

h1 {
  margin-bottom: 2rem;
}

.contact-me {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
  align-items: center;
  border: 2px solid var(--neutral-off-white);
  border-radius: 10px;
  padding: 2rem;
}

input,
select,
textarea {
  padding: 1.4rem;
  background: var(--neutral-off-white);
  border: 1px solid black;
  width: 90%;
}

textarea {
  height: 6rem;
}
button {
  width: 8rem;
  padding: 1.4rem;
  border-radius: 20px;
  cursor: pointer;
  background: var(--primary-yellow);
  color: var(--neutral-black);
  font: var(--main-headings);
  font-weight: var(--extra-heavy-weight);
}

button:hover {
  background: var(--neutral-off-white);
  color: var(--neutral-black);
}
