/* the entire modal section */
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* the modal itself */
.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.495);
  overflow-y: initial;
}
/* modal-content-container */
.modal-content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-black);
  position: fixed;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 0;
  border-radius: 5px;
  gap: var(--spacing20);
}
/* modal content styles */
.modal-content {
  overflow-y: auto;
  height: 70vh;
  padding: var(--spacing20);
}

/* button styles for modal */
button.open,
button.close {
  border: 2px solid var(--primary-yellow);
  color: var(--primary-yellow);
  font-weight: var(--heavy-weight);
  background-color: #f0f8ff00;
  padding: var(--spacing10);
  width: fit-content;
  border-radius: 5px;
}
button.open:hover,
button.close:hover {
  background-color: var(--primary-yellow);
  color: var(--neutral-black);
  transition: ease-in 0.3s;
}

.modal-close {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 35px;
}
#close-modal {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 1025px) {
  /* positioning for modal */
  .modal-container {
    align-items: flex-start;
  }
  .modal-close {
    justify-content: center;
  }
  #close-modal {
    justify-content: center;
  }

  /* inverting some of the color styles */
  button.open,
  button.close {
    border: 2px solid var(--neutral-white);
    color: var(--neutral-white);
    font-weight: var(--heavy-weight);
  }
  button.open:hover,
  button.close:hover {
    border: 2px solid var(--neutral-black);
    background-color: var(--primary-yellow);
  }
}
