/* targeting the list style type */
ul {
  list-style-type: none;
}

/* actual ul */
.skills-list {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}

/* each individual li */
.skill-container {
  width: 25%;
  min-width: 100px;
  height: 200px;
  position: relative;
}

/* div holding icon and name of icon */
.skill-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto;
  width: 70px;
  height: fit-content;
  z-index: 10;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 1025px) {
  .skill-container {
    width: 25%;
    min-width: 200px;
    height: 250px;
    position: relative;
  }

  .skill-icon {
    width: 100px;
  }
}
