/* add these to global style */
/* font family css - header font refs */

@font-face {
  font-family: "deadpool-movie-font";
  src: url("/assets/fonts/deadpool-movie-font/deadpoolmovie-9azl-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/deadpool-movie-font/deadpoolmovie-9azl-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "uppercut";
  src: url("/assets/fonts/uppercut/upperpunch-x3vvk-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/uppercut/upperpunch-x3vvk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anti-hero";
  src: url("/assets/fonts/rogue-hero/rogueheroacad-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/rogue-hero/rogueheroacad-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* replacing header-one */
.anti-hero-heading {
  font-family: var(--antihero-heading-one);
  color: var(--just-ketchup-red);
  font-size: var(--font57);
}

/* replacing heading-two */
.anti-hero-heading-two {
  font-family: var(--antihero-heading-two);
  color: var(--canuck-red);
  font-size: var(--font43);
}

/* replacing paragraph */
.anti-hero-paragraph {
  font-family: var(--antihero-paragraph);
  color: var(--neutral-white);
  font-size: var(--font24);
}

/* replacing title */
.anti-hero-title {
  font-family: var(--antihero-paragraph);
  color: var(--just-ketchup-red);
  font-size: var(--font36);
}

/* replacing link colors */
.anti-hero-links {
  color: var(--canuck-red);
  cursor: url("/assets/images/cursor-one.png"), auto;
}

/* add this to home-style */
/* deadpool mode button */

button.anti-hero-mode {
  background-color: transparent;
  padding: 5px;
  width: 55px;
  height: 55px;
  z-index: 10;
  cursor: url("/assets/images/cursor-one.png"), auto;
}

.line-change {
  background-color: var(--just-ketchup-red);
  z-index: 1;
  cursor: url("/assets/images/cursor-one.png"), auto;
}

button.hamburger {
  z-index: 30;
  cursor: url("/assets/images/cursor-one.png"), auto;
}

.mode-two {
  color: var(--canuck-red);
}

.card.mode-two-card img:hover {
  filter: drop-shadow(10px 10px var(--anti-hero-red));
  cursor: url("/assets/images/cursor-one.png"), auto;
}

/* button styles for modal */
button.antihero-open,
button.antihero-close {
  border: 2px solid var(--canuck-red);
  color: var(--canuck-red);
  cursor: url("/assets/images/cursor-one.png"), auto;
}
button.antihero-open:hover,
button.antihero-close:hover {
  background-color: var(--canuck-red);
  cursor: url("/assets/images/cursor-one.png"), auto;
}

/* desktop */
@media screen and (min-width: 1025px) {
  .anti-hero-paragraph {
    font-size: var(--font28);
  }

  h2.anti-hero-title {
    font-size: var(--font38);
  }
  h3.anti-hero-title {
    font-size: var(--font38);
  }
  .anti-hero-title {
    font-size: var(--font36);
  }

  p .anti-hero-links {
    font-size: var(--font28);
  }
}
